<html>

  <body style='font-family:Arial,Helvetica,sans-serif'>
    <h2>Bonjour,</h2>
    <p>Bonne nouvelle ! Votre demande d'adhésion pour rejoindre
      <strong>{{entityName}}</strong>
      a été approuvée.</p>
    <p><a href='{{url}}'>Cliquez ici pour vous connecter et accéder à votre
        espace</a></p>
    <p>À bientôt !</p>
  </body>

</html>